@using Pharmacy.Application.Services
@using Pharmacy.DTO.Category
@model List<ShowCategoryIndexDTO>
@{
    ViewData["Title"] = "Index";
}
<div class="row row-cols-1 mt-3 row-cols-md-4 g-4">
    @foreach (var item in Model)
    {
        <div class="col">
            <div class="card h-100">
                <img src="@FileSetings.imagespath/@item.Image" style="max-height:150px" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">Price : @item.Description</p>
                </div>
                <div class="card-footer">
                    <a asp-action="Edit" class="btn btn-success my-md-2">Update</a>
                    <a asp-action="Delete" class="btn btn-danger my-md-2">Delete</a>
                </div>
            </div>
        </div>
    }
</div>
